<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
	<style>
		/* 样式可以在CSS文件中定义，或者添加到<head>元素内的<style>标签中 */
		/* 这些样式用于控制按钮的位置和外观 */
		.btn {
			display: block;
			/* 将按钮设置为块级元素，使其在新行上显示 */
			margin-top: 10px;
			/* 添加上外边距，将按钮与文本框分隔开 */
		}

		#bt_submit {
			margin-left: 40px;
			/* 增加提交按钮的左边距，将其向右移动 */
		}

		.fh5co-heading-colored {
			text-align: left;
			/* 将标题左对齐 */
		}

		.fh5co-heading-colored+.fh5co-heading-colored {
			margin-top: 10px;
			/* 调整此处的数值以减小或增加上外边距 */
		}
	</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>TEST</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords"
		content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic,700' rel='stylesheet'
		type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/css/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="static/css/style.css">

	<!-- Modernizr JS -->
<!--	<script src="js/modernizr-2.6.2.min.js"></script>-->
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]> -->
	<!--<script src="js/respond.min.js"></script> -->
	<!--[endif]-->
<!--	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<script>

		function keyword() {
			var text = $('#keyword_text').val();
			$.ajax({
				url: "/keyword",
				type: "POST",
				data: { text: text }
			}).done(function (response) {
				var html = "";
				response = response.result;
				$.each(response, function (key, val) {
					console.log(val);
					html += "<b>Keywords Extracted :</b>" + val
				});
				html += "";
				$(".keyword").append(html);
			});
		};

		function showresult(res) {
			console.log(res);
			// 将数据 res 打印到浏览器的控制台（通常是浏览器的开发者工具中的控制台标签）
			// 通常用于调试和开发过程中，以便开发人员可以查看JavaScript代码执行时的中间结果或数据。
			// BUGBUGBUG原有的渲染方法错误，使用了html(res)
			// BUGBUGBUG显示Object的原因是传入的res是JSON对象，而不是字符串对象
			$("#result").text(JSON.stringify(res, null, 2));

			$("#bt_submit").prop('disabled', false).val("提交");
		}
		// 函数用于发起HTTP POST请求，向服务器发送文本内容，并在成功后调用 myfun 函数处理响应数据。
		function UrlPOST(txt, myfun) {
			if (txt == "") {
				return "error parm";
			}
			var httpurl = "/query";
			//alert(httpurl);

			//  JavaScript 代码中，使用了 $.ajax 函数来发起一个异步的 HTTP POST 请求。
			//  这个请求的目标 URL 是 /query，这是 Flask 应用的一个路由。
			//  发送了文本数据，这是用户在表单中输入的内容。
			//  在请求成功后，Flask 应用会处理这个数据并执行实体关系抽取任务。
			//  在 Flask 应用中，你定义了 /query 路由来处理实体关系抽取请求。
			//  它会接收到来自前端的数据，执行实体关系抽取逻辑，并将结果作为 JSON 对象返回。
			//  通过在请求的 success 回调函数中获取到 Flask 应用返回的 JSON 数据。这是抽取的实体关系结果。
			//  也就是下面中的data是回调flask后的json结果！！！
			$.ajax({
				type: "POST",
				data: "text=" + txt,
				url: httpurl,
				success: function (data) {
					myfun(data);
				}
			});
		}

		// $(document).ready(function(){...}) 是jQuery代码
		// 它在文档加载完成后执行，将点击按钮事件绑定到 bt_submit 元素上。
		$(document).ready(function () {
			$("#bt_submit").click(function () {
				var txt = $("#txt").val();
				if (txt == "") { 
					alert("文本内容不能为空")
					return; 
				}

				// 禁用按钮并更改文本
        		$(this).prop('disabled', true).val("正在处理...");

				var voc = "";
				voc = UrlPOST(txt, showresult);
			});
		});






	</script>
</head>

<body>

	<div id="fh5co-page">

		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

			<h1 id="fh5co-logo"><a href="home"><img src="https://www.scu.edu.cn/images/logo.png"
						alt="Free HTML5 Bootstrap Website Template" width="65%"></a></h1>
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li class="fh8co-active"><a href="home">项目介绍</a></li>
					<hr>
					<li><a href="keyExt">金融实体识别</a></li>
					<hr>
					<li><a href="summary">关于我们</a></li>
					<hr>
					<li><a href="installation">版本信息</a></li>
					<hr>
				</ul>
			</nav>

			<div class="fh5co-footer">
				<p><small>&copy; 2024 Group <Version1 class="0 0"></Version1></span> <br><span>Designed by Sichuan
							University </a> </span></small></p>
				<ul>
					<!-- GitHub link -->
					<li><img src="https://www.scu.edu.cn/images/logo.png" alt="medium_icon" width="180" height="50">
					</li>
					<!-- <li><img src="static/images/njuai.png" alt="medium_icon" width="180" height="50"></a></li> -->
				</ul>
			</div>

		</aside>

		<div id="fh5co-main">

			<div class="fh5co-narrow-content">
				<div class="row">
					<div class="col-md-5">
						<h1 class="animate-box" data-animate-effect="fadeInLeft">金融实体识别</h1>
						<p style="color: rgb(0,0,0);line-height:3em;">
							Bert-BiLSTM-CRF+Embedding模型
						</p>
						<p style="color: rgb(0,0,0);line-height:3em;">
							我们将根据输入文本内容，匹配右侧数据库，
							完成金融领域实体抽取任务。
						</p>

					</div>
					<div class="col-md-6 col-md-push-1 animate-box" data-animate-effect="fadeInLeft">
<!--						<img src="static/images/keywords.gif" alt="Free HTML5 Bootstrap Template"-->
<!--							class="img-responsive">-->
<!--						<p style="color: rgb(0,0,0);line-height:3em;">-->
<!--							请您上传数据库，格式请仿照Database.csv，并上传您所感兴趣的金融资讯。-->
<!--							我们将抽取数据库覆盖的机构和证券内容及其相关type和id信息-->
<!--						</p>-->
						<h1 class="animate-box" data-animate-effect="fadeInLeft">金融实体数据库</h1>

						<p style="color: rgb(0,0,0);line-height:3em;">
							我们收集的金融实体信息包括股票ID，股票名称，公司ID，公司名称等信息，详情见
							<a href="/static/raw_database.csv" style="color: darkred">raw_database.csv</a>，
							并上传您所感兴趣的金融资讯。
							我们将抽取数据库覆盖的机构和证券内容及其相关信息
						</p>
					</div>
				</div>
			</div>



<!--			<div class="fh5co-narrow-content">-->
<!--				<div class="row">-->
<!--					<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">-->
<!--						<h1 class="fh5co-heading-colored">请上传数据库</h1>-->

<!--						<br>-->
<!--					</div>-->
<!--				</div>-->
<!--				&lt;!&ndash; 空行 &ndash;&gt;-->
<!--				<form action="http://localhost:5000/upload" method="POST" enctype="multipart/form-data">-->
<!--					<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">-->
<!--						<input type="file" name="file" class="fh6co-lead" />-->
<!--						<br> &lt;!&ndash; 添加一个换行，将提交按钮下移 &ndash;&gt;-->
<!--						<input type="submit" value="提交" class="btn btn-primary btn-outline" />-->
<!--					</div>-->
<!--				</form>-->
<!--			</div>-->
<!--			<div class="fh5co-narrow-content">-->
<!--				<div class="row">-->
<!--					<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">-->
<!--						<h1 class="fh5co-heading-colored">查看数据库及格式</h1>-->
<!--						<a href="/upload/Database.csv">Database.csv</a>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->



			<div class="fh5co-narrow-content" style="padding-top: 0">
				<div class="row">
					<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
						<h1 class="animate-box" data-animate-effect="fadeInLeft">输入待抽取的文本</h1>
					</div>

				</div>
				<div class="row">
					<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
						<p class="fh5co-lead">
<!--							<i style="font-size: large;">请输入待抽取的文本，结果将依据Database给出</i> <br>-->
							<textarea style="width: 800px;height:200px;" name="txt" id="txt" spellcheck="false"
								maxlength="" class="com-txt" onfocus="this.select()"></textarea>
							<input type="button" value="提交" id="bt_submit" class="btn btn-primary btn-outline" />
							<!-- 触发该按钮会让javascript函数运行,head中内联函数把click事件和bt_submit绑定在一起 -->
							<!-- <button id="keyword_clicked" onclick="keyword()" class="btn btn-primary btn-outline">Submit</button> -->
					</div>

				</div>

				<div class="row" style="transition: none">
					<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
						<h1 class="animate-box" data-animate-effect="fadeInLeft">实体抽取结果</h1>
					</div>

					<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
						<textarea style="width: 800px;height:200px;" name="result" id="result" spellcheck="false"
						maxlength="" class="com-txt"></textarea>
					</div>


				</div>

			</div>
		</div>
	</div>
	</div>


	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Carousel -->
	<script src="static/js/owl.carousel.min.js"></script>
	<!-- Stellar -->
	<script src="static/js/jquery.stellar.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Counters -->
	<script src="static/js/jquery.countTo.js"></script>


	<!-- MAIN JS -->
	<script src="static/js/main.js"></script>

</body>

</html>